@mixin list() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin margin-tb($val) {
  margin-block-start: 0;
  margin-block-end: $val;
}

@mixin links() {
  text-decoration: none;
  color: inherit;
}

@mixin font($family: $font-text, $size: 1rem, $weight: 400, $line: 140%, $color: $text-color) {
  font-family: $family;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $line;
  color: $color;
}

