$font-title: "Georgia", serif;
$font-text: "Arial", sans-serif;

$accent-color: #228379;
$effect-color: #507B8A;
$title-color: #530400;
$text-color: #000;
$disabled-color: #c8c8c8;

$mobile-mb: 7.5rem; //120px;
$desktop-mb: 13.75rem; //220px;
$desktop-mb-small: 9.375rem; //150px; для блоков, где снизу есть доп. нижний отступ

/*
16px = 1rem
140% = 22.4px = 1.4rem

*/

//$breakpoint-tablet: 768px;
$breakpoint-desktop: 1240px;

//$tablet: "(min-width: #{$breakpoint-tablet})";
$desktop: "(min-width: #{$breakpoint-desktop})";
