.about {
  //position: relative;

  @media #{$desktop} {
   // padding-bottom: 85px;
    margin-block-end: $desktop-mb-small;    
  }
}

.about__wrapper {
  @media #{$desktop} {
    max-width: 1440px;
    margin: 0 auto;
    //position: relative;

    background: url(../../images/natural.png) no-repeat right bottom;

    /* &::after {
      content: "";
      display: block;
      width: 178px;
      height: 169px;
      background: url(../../images/natural.png) no-repeat center;
      position: absolute;
      bottom: -100px;
      right: 0;
      z-index: -1;
    } */
  }
}


/* .about__big-image {
  max-width: 320px;
  height: auto;
  display: block;
  margin: 22px auto 22px;
  border-radius: 10px;

} */

/* .about__image-divider {
  max-width: 178px;
  height: auto;
  display: block;
  margin: 30px auto;

  @media #{$desktop} {
    display: none;
  }
} */
