// ???
section {
  margin-block-end: $mobile-mb;

  @media #{$desktop} {
    margin-block-end: $desktop-mb;
  }
}

h2 {
  @include margin-tb(2.8125rem); // 45px
  @include font($font-title, 2.25rem, 700, 130%, $title-color); // 36px
  text-transform: uppercase;

  @media #{$desktop} {
    @include margin-tb(1.625rem); // 26px
    font-size: 3.4375rem; //55px
  }
}

h3 {
  @include margin-tb(1.23rem); // 13px
  @include font($font-text, 1.875rem, 700, 120%, $title-color); // 30px

  @media #{$desktop} {
    @include margin-tb(1.5625rem); // 25px
  }
}

p {
  @include margin-tb(0.625rem); // 10px

  @media #{$desktop} {
    @include margin-tb(0.75rem); // 12px
  }
}

ul {
  list-style: disc;
}

li {
  margin-block-end: 0.5rem;

  /*  @media #{$desktop} {
    @include margin-tb(0.5rem); 
  } */
}

a {
  color: $accent-color;

  &:hover, &:focus-visible {
    color: $effect-color;
  }

  &:active {
    color: $accent-color;

    opacity: 0.5;
  }
}

.cols-2 {
  @media #{$desktop} {
    display: flex;
    gap: 50px;
  }

  & img {
    flex-shrink: 0;
  }

}