.feedback ul {
  @include list();
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block-end: 45px;

  @media #{$desktop} {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    margin-block-end: 108px;
  }
}

.feedback li {
  outline: 2px solid $accent-color;
  border-radius: 20px;
  padding: 25px 20px 10px;
  margin: 0;
  background: #fff;

  @media #{$desktop} {
    padding: 25px 20px 22px;
  }
}

.feedback li.hidden {
  display: none;
}

.feedback__button {
  width: 20rem; // 320px;
  margin-inline: auto;

  @media #{$desktop} {
    width: 23.6875rem; // 379px
  }

  &--nojs {
    display: none;
  }
}



/* .feedback ul p:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
