// весь слайдер
.wp-block-carousel-slider-slider {
  position: relative;

  @media #{$desktop} {
    width: 1053px;
    margin: 0 auto;
  }
}

.carousel-slider.owl-loaded {
  display: flex !important; // чтобы поднять наверх навигацию
  flex-direction: column;

  @media #{$desktop} {
    display: block !important;
  }
}

// кнопки
.carousel-slider-outer-317 .carousel-slider .owl-nav {
  display: flex;
  justify-content: space-between;
  margin-block-end: 45px;
  order: -1;

  @media #{$desktop} {
    display: block;
  }
}

.carousel-slider-outer-317 .carousel-slider .owl-nav button.owl-prev,
.carousel-slider-outer-317 .carousel-slider .owl-nav button.owl-next {
  position: static;
  width: 41px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-image: url(../../images/vector/arrow-mobile.svg) !important;
  cursor: pointer;

  @media #{$desktop} {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $accent-color !important;
    background-position: center !important;
    background-image: url(../../images/vector/arrow-desktop.svg) !important;
    background-size: 26px auto !important;
  }

  &:hover {
    @media #{$desktop} {
      background-color: $effect-color !important;
      color: #fff;
    }
  }

  &:focus-visible {
    @media #{$desktop} {
      background-color: $effect-color !important;
      color: #fff;
    }
  }

  &:active {
    opacity: 0.8;

    @media #{$desktop} {
      background-color: $effect-color !important;
      color: #fff;

    }
  }

  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 1;

    @media #{$desktop} {
      background-color: $disabled-color !important;

    }
  }
}

.carousel-slider-outer-317.carousel-slider .owl-nav button.owl-next,
.carousel-slider-outer-317 .carousel-slider.arrows-outside .owl-nav .owl-next {
  transform: translateY(-50%) rotate(180deg);
}

// стандартная иконка плагина
.carousel-slider-nav-icon {
  display: none;
}

// слайдер в каталоге
.carousel-slider-outer-317 .owl-stage-outer {
  padding: 0;

  @media #{$desktop} {
    padding: 0 30px;
  }

}

.carousel-slider-outer-317 .owl-stage {
  display: flex;
  // gap: 11px; //21px коррекция дефолтных настроек плагина (margin-right: 10 у слайдов)

  @media #{$desktop} {
    //  justify-content: center;
  }
}

// отдельный слайд
.carousel-slider-outer-317 .owl-item {
  padding: 20px;
  border: 2px solid $accent-color;
  border-radius: 10px;
  flex-shrink: 0;
  flex-basis: 320px;
  background: #fff;

  &:last-of-type {
    margin-right: 0 !important;
  }
}


.carousel-slider-outer-317 .carousel-slider .carousel-slider__item img {
  display: block;
  width: 280px;
  //height: 210px;
  object-fit: contain;
  border-radius: 10px;
  margin-block-end: 24px;
}

.carousel-slider .carousel-slider__caption .title {
  //@include margin-tb(0.625rem); //10px
  margin-block-start: 0 !important;
  margin-block-end: 0.625rem !important; //10px
  //@include font($font-text, 1.25rem, 700, 130%, $text-color); // 20px
  font-family: $font-text !important;
  font-size: 1.25rem !important; // 20px
  font-weight: 700 !important;
  line-height: 130% !important;
  color: $text-color !important;
  text-align: left !important;
}

.carousel-slider .carousel-slider__caption .caption {
  //@include margin-tb(0);
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-family: $font-text !important;
  font-size: 1rem !important; // 16px
  font-weight: 400 !important;
  line-height: 140% !important;
  color: $text-color !important;
  text-align: left !important;
}

// lightbox
.carousel-slider-outer-317 .magnific-popup {
  text-decoration: none;
  color: $text-color;

}

// слайдер в галерее
.carousel-slider-outer-334 {
  @media #{$desktop} {
    width: 890px;
    margin: 0 auto;
  }
}

.carousel-slider-outer-334 .owl-stage-outer {
  padding: 0;
}

.carousel-slider-outer-334 .owl-stage {
  display: flex;
}

// отдельный слайд
.carousel-slider-outer-334 .owl-item {
  flex-shrink: 0;
 // flex-basis: 100%;
  margin-block-end: 0;

  &:last-of-type {
    margin-right: 0 !important;
  }

  @media #{$desktop} {
    flex-basis: 890px;
  }
}

.carousel-slider-outer-334 .carousel-slider .carousel-slider__item img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  width: 100%;

  @media #{$desktop} {
    width: auto;
  }
}

// кнопки
.carousel-slider-outer-334 .carousel-slider .owl-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block-end: 40px;
  order: -1;
  position: static;

  @media #{$desktop} {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: -155px;
    right: 0;
    transform: translateY(-50%);
  }
}

.carousel-slider-outer-334 .carousel-slider .owl-nav button.owl-prev,
.carousel-slider-outer-334 .carousel-slider .owl-nav button.owl-next {
  position: static;
  width: 41px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-image: url(../../images/vector/arrow-mobile.svg) !important;
  cursor: pointer;

  @media #{$desktop} {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $accent-color !important;
    background-position: center !important;
    background-image: url(../../images/vector/arrow-desktop.svg) !important;
    background-size: 26px auto !important;
  }

  &:hover {
    @media #{$desktop} {
      background-color: $effect-color !important;
      color: #fff;
    }
  }

  &:focus-visible {
    @media #{$desktop} {
      background-color: $effect-color !important;
      color: #fff;
    }
  }

  &:active {
    opacity: 0.8;

    @media #{$desktop} {
      background-color: $effect-color !important;
      color: #fff;

    }
  }

  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 1;

    @media #{$desktop} {
      background-color: $disabled-color !important;

    }
  }
}

.carousel-slider-outer-334 .carousel-slider .owl-nav button.owl-next,
.carousel-slider-outer-334 .carousel-slider.arrows-outside .owl-nav .owl-next {
  transform: translateY(-50%) rotate(180deg);
}