.footer {
  padding-top: 39px;
  padding-bottom: 26px;
  background: #f5f5f5;
}

.footer__grid {
  @media #{$desktop} {
    display: grid;
    grid-template-columns: 75px 1fr 1.7fr 1fr;
    gap: 20px 53px;
    align-items: start;
  }
}

.footer__logo {
  display: block;
  width: 34px;
  height: 56px;
  margin: 0 auto 17px;

  @media #{$desktop} {
    width: 73px;
    height: 120px;
    margin: 0;
  }
}

.footer__contacts {
  @media #{$desktop} {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 60px;
  }
}

.footer__contact {
  @include margin-tb(0.8125rem); // 13px

  @media #{$desktop} {
    @include margin-tb(1.875rem); // 30px
  }
}

.footer__nav {
  @include list();
  margin-block-start: 35px;
  margin-block-end: 25px;
  column-count: 2;
  column-width: 50%;

  @media #{$desktop} {
    margin: 0;
  }
}

.footer__nav-item {
  margin-block-end: 1.125rem; // 18px;
}

.footer__nav-link {
  @include links();
  @include font($font-text, 0.9375rem, 600, 100%, $title-color); // 15px
  text-transform: uppercase;
}

.footer__socials {
  margin-block-end: 30px;

  @media #{$desktop} {
    justify-self: end;
  }
}

.footer__text {
  @include font($font-text, 0.9375rem, 400, 100%, #000); // 15px
  @include margin-tb(2.1875rem); // 35px

  @media #{$desktop} {
    grid-column: 1/-1;
    justify-self: center;

    &:has(.footer__politics) {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: end;
      justify-self: start;
      padding-top: 40px;
    }
  }
}

.footer__politics {
  @include links();
  color: $accent-color;
}